.form {
  /* margin-left: 20%;
  margin-right: 20%; */
  /* margin-top: 100px; */
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 2px rgb(226, 226, 226);
  border-style: none;
  width: 500px;

}

.navbar {
  background-color: #333;
  position: fixed;
  margin-top: 0px !important;
  width: 100%;
}

.link {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navlink {
  width: 500px !important;
  align-items: center;
  display: flex;

  justify-content: space-around !important;
}

Link:hover {
  color: yellow !important;
}

.navbrand {
  padding: 0vw;
}

.button {
  background-color: #212529 !important;
  border-color: #212529 !important;
}

.button5 {
  background-color: #212529 !important;
  border-color: #212529 !important;
  margin-left: 20px;
}

.box {
  height: 50%;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.img {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: -1;
}

.notes {
  width: 700px;
  height: 1100px;
}

.carousel {
  height: 500px;
}

.hii {
  margin: 10px;
  background-color: black;
  height: 500px;
}

.footer {
  background-color: #212529;
  color: #212529;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
}

.left {
  /* background-color: yellow; */
  padding: 10px;
  flex: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  background-color: rgb(234, 237, 240);
  padding: 10px;
  flex: 50%;
  height: 400px;
}

.main {
  height: 500px;
  margin-top: 75px;

  /* background-color: red; */

  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

@media (max-width: 500px) {
  .right,
  .left {
    flex: 100%;
  }
}

.h11:hover {
  color: blue;
}

.aboutus {
  display: flex;
  flex-direction: column;

  justify-content: center;
  height: 380px;
}

.img1 {
  height: 300px;
  width: 400px;
}

.fa {
  color: white;
  height: 35px;
  width: 50px;
  margin-left: 30px;
}

.fa {
  color: white;
  height: 35px;
  width: 50px;
  margin-left: 30px;
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: 1;
  /* animation-direction: alternate; */
}

@keyframes example {
  0%   { left:0px; top:0px;}
  /* 25%  { left:1200px; top:0px;} */
  50%  { left:1200px; top:0px; transform: rotate(-45deg);}
  /* 75%  { left:0px; top:200px;} */
  /* 100% { left:0px; top:0px; transform: ;} */
}

.welcome{
  text-decoration: none !important;
  color: white !important;
}

.welcome1{
  text-decoration: none !important;
}

.register {
  display: flex;
  width: 240px;
  justify-content: space-between;
  margin-top: 15px;
}

.register1 {
  display: flex;
  width: 230px;
  justify-content: space-between;
  margin-top: 15px;
}

.checkbox{
  margin-top: 5px;
  width: 160px;
  display: flex;
  
}

.lable{
  display: flex;
  width: 215px;
  justify-content: space-between;
  align-items: center;

}

.checkbox1{
  display: flex;
  align-content: center;
}

.table1{
  overflow-y:auto;
  /* width: 100%; */
    height:100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.clientTitle{
  margin-bottom: 30px;
}

.span{
  margin-right: 20px;
}

.hey{
  margin-right: 10px;
}

.show{
  margin-top: 50px;
  margin-left: 50px;
}

.div1{
  /* width: 100vh; */
  height: 90vh;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  flex-direction: column;
}

.div5{
  /* width: 100vh; */
  height: 40vh;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  flex-direction: column;
  /* margin-bottom: 20px !important; */
}

.div7{
  /* width: 100vh; */
  margin-top: 70px;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  flex-direction: column;
  /* margin-bottom: 20px !important; */
}



.div6{
  /* width: 100vh; */
  /* height: 40vh; */
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  flex-direction: column;
  margin-bottom: 20px !important;
}



.alert{
  width: 285px;
  margin-left: 0px;


}

.welcome:hover{
  color: blue;
}

.crud{
  margin-left: 20px;
  
}

.crud1{
  display: flex;
  justify-content: space-between;
}

.op1{
 width: 30%;
 display: flex;
 flex-direction: column;
 
 
 align-content: center;
 margin: 0 auto
}

.op2{
  height: 50px;
  background: #212529;
  color: white;
  text-align: center;
}

.p1{
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items:center ;
  justify-content: center;
}

.op3{
  padding: 4px 16px;
} 

.view-b{
  margin-top: 20px;
}

.button-p {
  background-color: #212529 !important;
  border-color: #212529 !important;
  margin-top: 20px;
}

.homepagediv{
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
}

.home2{
  margin-left: 20%;
}

.logout2{
  display: flex;
  justify-content: center;
}

.logout1{
  width: 100px;
  background-color: #646464 !important;
  border-style: none !important;
  /* color: black !important; */
  /* font-weight: bold !important; */
}

.tableButton{
  height: 70px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 50px;
  margin-left: 20px;
}

.home3{
  margin-left: 20px;
  
}

.danger{
  display: flex;
  align-items: center;
  justify-content: center;
  height: initial ;
}

.footer1{
  height: 20px;
}


.fonticon{
	/* padding: 3px 0px; */
	/* margin: 5px; */
  margin-bottom: 4px;
	/* display: inline-block; */
	color: #000;
	/* background: white; */
  text-decoration: none;
}

.fonticon:hover{
	text-decoration: none;
	color: #000;
}



@-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.buzz-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}