
.form{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 200px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 2px rgb(226, 226, 226);
  border-style: none;
}

.navbar{
 
  background-color: #333;
  position: fixed;
  margin-top: 0px !important;
  width: 100%;
}

.link{
  color: white;
  text-decoration: none;
  padding: 10px;
  
}

.navlink, link{
  width: 200px !important;
  
  flex: content !important;
  
  justify-content: space-around !important;

}

Link:hover{
  color: yellow !important;
}

.navbrand{
  padding: 0vw;
}

.button{
  background-color: #212529 !important;
  border-color: #212529 !important;
}


.box{
  height: 50%;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.img{
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: -1;
}

.notes{
  width: 700px;
  height: 1100px;
}



/* -------------------------------****************************************-------------------------------------- */

