.form {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 2px rgb(226, 226, 226);
  border-style: none;
}

.navbar {
  background-color: #333;
  position: fixed;
  margin-top: 0px !important;
  width: 100%;
}

.link {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navlink {
  width: 500px !important;
  align-items: center;
  display: flex;

  justify-content: space-around !important;
}

Link:hover {
  color: yellow !important;
}

.navbrand {
  padding: 0vw;
}

.button {
  background-color: #212529 !important;
  border-color: #212529 !important;
}

.box {
  height: 50%;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.img {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: -1;
}

.notes {
  width: 700px;
  height: 1100px;
}

.carousel {
  height: 500px;
}

.hii {
  margin: 10px;
  background-color: black;
  height: 500px;
}

.footer {
  background-color: #212529;
  color: #212529;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
}

.left {
  /* background-color: yellow; */
  padding: 10px;
  flex: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  background-color: rgb(234, 237, 240);
  padding: 10px;
  flex: 50%;
  height: 400px;
}

.main {
  height: 500px;
  margin-top: 75px;

  /* background-color: red; */

  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

@media (max-width: 500px) {
  .right,
  .left {
    flex: 100%;
  }
}

.h11 {
  color: white;
}

.aboutus {
  display: flex;
  flex-direction: column;

  justify-content: center;
  height: 380px;
}

.img1 {
  height: 300px;
  width: 400px;
}

.fa {
  color: white;
  height: 35px;
  width: 50px;
  margin-left: 30px;
}

.welcome {
  text-decoration: none;
}

.register {
  display: flex;
  width: 215px;
  justify-content: space-between;
  margin-top: 15px;
}

